# Default ignored files
/../../MAP - A2. Toy Language Interpreter./.idea/shelf/
/../../MAP - A2. Toy Language Interpreter./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../MAP - A2. Toy Language Interpreter./.idea/httpRequests/
